body{
        background-image: url('capsules.jpg');
        color: white;
    }
    
    input{
        height:35px;
        width:400px;
        font-family: Helvetica;
        font-size: 17px;
        
        margin-top: 20px;
        border-radius: 5px;
        border-color:transparent;    
        text-indent: 10px;
        
    }
    select{
        height:35px;
        width:400px;
        font-family: Helvetica;
        font-size: 17px;
        
        margin-top: 20px;
        border-radius: 5px;
        border-color:transparent;    
        text-indent: 10px;
    }
    
    #submit_button:hover{
        background-color: black;
        
    }
    
    #submit_button
    {
        border-radius:5px;
        
        width:200px;
        height:50px;
        font-size: 24px;
        background-color: #9933ff;
        color:white;
        border-color:transparent;
        margin-bottom: 0px;
        cursor: pointer;
        
    }
#Details
{
    
  //display:none;
  
  border-radius: 10px;
  background-color: rgba(0,0,0,0.5);
  width:900px;
  
  
  border:2px green;
  font-family:"Georgia";
  font-size:20px;
}
#codefalconlink{
    
    margin-left:750px;
    height: 20px;
    width: 550px;
    text-align: left;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-family: Arial; 
    margin-top: 60px;    
}
a{
    color: white;
}
a:hover{
  color: blue;  
}
#sign_up_sugg
{
    background-color: black;
    
    width: 300px;
    height: 25px;
}
#sign_up_sugg p{
    
    color: white;
    font-family: Arial;
    font-size:15px;
}
#sign_up_sugg a{
    color: white;
}
#sign_up_sugg a:hover{
    color: lightblue;
}
#login
{
    background-color: rgba(0,0,0,0.5);
    width: 25%;
   margin-top: 50px;
  cursor: default;
  color:white;
  font-family:Arial;
  font-size:50px;
  
    
}